*{
  color:#ececec;
  font-family:Roboto,'Open Sans','Helvetica Neue', sans-serif'
}

body{
  margin:0;
  padding:0;
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevents double scrollbars */
}