.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.new-chat-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: white;
}

.btn-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

.history {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

.icon-left {
    margin-right: 10px;
    font-size: 12px;
}

.thread-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.history li:hover, .highlighted {
    background-color: rgba(255, 255, 255, 0.05);
}

.trash-icon {
    opacity: 0;
    transition: 0.2s;
}

.history li:hover .trash-icon {
    opacity: 1;
}

.trash-icon:hover {
    color: #f87171 !important;
}

.sign {
    padding: 15px;
    text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.1);
}